# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Files used to try the code
/grades

# Files used during the export process of the code
result.csv

# Temporary files
.~lock.*

# Python compiled bytecode
*.pyc
__pycache__/
*/__pycache__/

# VS Code editor data
.vscode/*
